:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.spacer {
  flex: 1 1 auto;
}

.content-container {
  flex: 1 1 auto;
  padding: 16px;
  overflow-y: auto;
}
