html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color-scheme: light;
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  font: var(--md-sys-typescale-body-medium);
}

* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Remove background and border from all snackbars */
.mat-mdc-snackbar .mat-mdc-snackbar-surface {
  background-color: transparent !important; /* transparent background */
  box-shadow: none !important;              /* remove elevation shadow */
  border: none !important;                  /* remove any border */
  color: var(--md-sys-color-on-surface);    /* use system text color */
  font: var(--md-sys-typescale-body-medium);
}

/* Optional: adjust padding if needed */
.mat-mdc-snackbar .mat-mdc-snackbar-label {
  padding: 0.5em 1em;
}

/* Error snackbar */
.snackbar-error .mat-mdc-snackbar-surface {
  /* outer container */
  background: transparent !important; /* make outer container transparent */
  box-shadow: none !important;
  color: #fff !important;
}

/* Success snackbar */
.snackbar-success .mat-mdc-snackbar-surface {
  /* outer container */
  background: transparent !important; /* make outer container transparent */
  box-shadow: none !important;
  color: #fff !important;
}

.list-row {
  display: flex;
  align-items: center;
  justify-content: space-between; // ensures actions are pushed to the right
  padding: 0.5rem 1rem;

  .list-row-flex {
    display: flex;
    width: 100%;
    justify-content: space-between; // pushes actions to the right
    align-items: center;
  }

  .list-row-content {
    display: flex;
    gap: 1.5rem;
    flex: 1; // expands to take all available horizontal space
  }

  .list-row-actions {
    display: flex;
    gap: 0.5rem; // spacing between buttons
    flex-shrink: 0; // prevent shrinking
  }

  &:hover {
    background-color: rgba(0,0,0,0.04); // Gmail-like hover
    cursor: pointer;
  }
}